@font-face {
    font-family: Rubik;
    font-weight: 300;
    src: url("../../shared/assets/fonts/Rubik-Light.woff") format("woff");
}

@font-face {
    font-family: Rubik;
    font-weight: 400;
    src: url("../../shared/assets/fonts/Rubik-Regular.woff") format("woff");
}

@font-face {
    font-family: Rubik;
    font-weight: 500;
    src: url("../../shared/assets/fonts/Rubik-SemiBold.woff") format("woff");
}

@font-face {
    font-family: "Soyuz Grotesk";
    font-weight: 500;
    src: url("../../shared/assets/fonts/SoyuzGroteskBold.woff") format("woff");
}