@import "reset";
@import "./variables/global";
@import "./themes/normal";
@import "./themes/dark";

.app {
    font: var(--font-main);
    background: var(--bg-color);
    color: var(--primary-color);
}

.content-page {
    box-sizing: border-box;
    display: flex;
    padding: 30px;
}

.page-wrapper {
    flex-grow: 1;
    padding-left: 32px;
}