@import "../fonts";

:root {
    --font-main: 300 16px/24px "Rubik", "Times New Roman", sans-serif;
    --font-page-title: 500 32px/36px "Rubik", "Times New Roman", sans-serif;
    --font-h1: 500 50px/58px "Soyuz Grotesk", "Times New Roman", sans-serif;
    --font-button: 400 16px/24px "Rubik", "Times New Roman", sans-serif;

    /* Colors */
    --color-bg-navbar: #EDEDED;
}