@import 'app/styles/mixins/mixins';

.Sidebar {
    height: calc(100vh - 60px);
    width: 300px;
    background-color: var(--bg-color-sidebar);
    position: relative;
    border-radius: 30px;
    transition: width 0.3s;
}

.hidden {
    width: 80px;
}

.switchers {
    width: 100%;
    gap: 16px;
    position: absolute;
    bottom: 20px;

    @include flex-center;
}