@import 'src/app/styles/mixins/mixins';

.Button {
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:hover {
        opacity: .6;
    }
}

.round {
    border-radius: 50%;
    background: url('../../../assets/icons/arrow-btn-left-white.svg') center no-repeat var(--round-button-color);

    @include size(40px, 40px);
}