@import 'app/styles/mixins/mixins';

.ErrorPage {
  background-color: var(--bg-color);
  height: 100vh;

  @include flex-center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: var(--primary-color);
  font: var(--font-page-subtitle);
  margin: 0 0 32px;
}